.div_portifolio_mobile_light{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & h2 {
    color: var(--CorEscura);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
    }
}